<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 btn_fix">
    <p>
      <%= button_tag('Отправить заявку',
                     type: 'reset',
                     class: 'btn btn-success btn_order') %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-xs-12">
    <p class="fix_text_manag text-center">
      Наш менеджер свяжется с Вами в рабочее время,
      что бы подтвердить заказ,
      уточнить удобную для Вас форму оплаты и доставку тиража
    </p>
  </div>
  <div class="col-md-2"></div>
</div>