<div class="col-xs-12 visible-xs mar-top-xs fix_val_enter fix_pad_tb fix_pad_lr br_red">
  <div class="fix-pad-mar">
    <p class="col-xs-12 fix_mar_p fix_text_enter gray_text br_red">Введите интересующий Вас</p>
    <p class="col-xs-4 fix_r_pad_xs fix_mar_p fix_text_enter blue_text br_red">тираж карточек</p>
    <div class="col-xs-6 fix_input br_red">
      <div class="controls">
        <%= form_for :calc_values, html: {class: 'form-horizontal center'} do |f| %>
            <%= f.text_field :card_count, class: 'form-control fix_size', label: false %>
        <% end %>
      </div>
    </div>
    <p class="col-xs-2 fix_r_pad_xs fix_mar_p fix_text_enter blue_text br_red">штук</p>
  </div>
</div>
