<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 btn_fix">
    <p>
      <%= button_tag('Оформить заявку',
                     type: 'button',
                     class: 'btn btn-success btn_order',
                     id: 'hs',
                     value: 'h/s',
                     name: 'btn_order') %>
    </p>
  </div>
  <div class="col-md-3"></div>
</div>