  <div class="col-md-12 col-xs-12 col-sm-12 btn_fix">
    <p>
      <%= button_tag('Оформить заявку',
                     type: 'button',
                     class: 'btn btn-success btn_order',
                     id: 'hs',
                     value: 'h/s',
                     name: 'btn_order') %>
    </p>
  </div>